<div class="row">
    <div class="col-md-8">
        <h4 class="mb-3">Blue Knight Feed</h4>
        <div class="card mb-4 p-4">
            <div class="d-flex align-items-center mb-3">
                <div class="bg-primary rounded-circle p-3 text-white me-3">ADDU</div>
                <div>
                    <h6 class="mb-0">Ateneo de Davao</h6>
                    <small class="text-muted">2 hours ago</small>
                </div>
            </div>
            <p>We are proud to announce that AdDU has been ranked #1 in Innovation!</p>
            <img src="https://via.placeholder.com/800x400" class="img-fluid rounded">
        </div>
    </div>

    <div class="col-md-4">
        <h4 class="mb-3">Resources</h4>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action p-3">Document Request</a>
            <a href="#" class="list-group-item list-group-item-action p-3">Job Posting</a>
            <a href="#" class="list-group-item list-group-item-action p-3">Donation</a>
        </div>
    </div>
</div>